@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1>@ViewData["Title"]</h1>

<p>Welcome to the Chiefs Super Bowl Celebration! Explore the pages to join in the celebration.</p>

<img src="~/images/homepageimage.jpg" alt="Chiefs Celebration" />

<p>@Model.SpecialMessage</p>

<!--<h2>Quick Fact:</h2>
<p>The Kansas City Chiefs secured their third Super Bowl victory in five seasons, joining a select group of teams in NFL history.</p>
<p>The Kansas City Chiefs beat the San Francisco 49ers 25-22 in overtime to win Super Bowl LVIII at Allegiant Stadium in Las Vegas on Sunday. The Chiefs became the first team to win consecutive Super Bowl titles since 2005.</p>
<p>They consecutively won the AFC Championship for two seasons (2019 and 2020) but missed out in 2022. They have returned and claimed supremacy in the conference with back-to-back AFC Championships in 2023 and 2024. The Chiefs appeared in their fifth Super Bowl appearance against the Philadelphia Eagles in Super Bowl LVII which took place on February 12, 2023.

They consecutively won the AFC Championship for two seasons (2019 and 2020) but missed out in 2022. They have returned and claimed supremacy in the conference with back-to-back AFC Championships in 2023 and 2024. The Chiefs appeared in their fifth Super Bowl appearance against the Philadelphia Eagles in Super Bowl LVII which took place on February 12, 2023.
-->
</p>