@page
@model MyApp.Namespace.PhotoGallaryModel
@{
    ViewData["Title"] = "My Photo Gallery";
}

<h1>@ViewData["Title"]</h1>

<!-- Add a photo gallery with images from the Chiefs' Super Bowl Journey  -->
<div class="photo-gallery">
    <img src="~/images/cheifstraining1.jpg" alt="Chiefs Super Bowl Practice" />
    <img src="~/images/Photogallaryimage1.jpg" alt="Chiefs Super Bowl Celebration" />
    <img src="~/images/chiefstraining2.jpg" alt="Chiefs Super Bowl Practice " />
    <img src="~/images/Photogallaryimage2.jpg" alt="Chiefs Super Bowl Celebration" />
</div>

<!-- Add a fact about the Chiefs' postseason run -->
<h2>Postseason Run Fact:</h2>
<p>The Chiefs are one of only 13 teams to play four postseason games and win the Super Bowl.</p>